.cat{
    width:50px;
    height:50px;
    border-radius:25px;
    object-position: center;
    object-fit:cover;
    vertical-align: middle;
}
.what{
    color: rgb(53, 51, 51);
    font-size: 16px;
    margin-left: 10px;
    vertical-align: middle;
}
.tweet {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 100px;
  }